<div class="container mt-3">
  통합검색
  <form action="/main/haveroom">
    <input type="text" name="search">
    <input type="submit" value="제출">
  </form>
  
  
  
  <% if @search.present? %>
    <% @search.each do |p| %>
      <%= @user.where(:id => p.user_id).take.name %>
      <%= @user.where(:id => p.user_id).take.gender %>
      <%= p.aa %>
      <%= p.school_name %>
      <%= p.created_at.strftime("%Y-%m-%d") %>
    <% end %>
  <% else %>
    <p> <%= params[:search] %>를 포함한 검색 결과가 없습니다.</p>
  <% end %>
  
  
</div>