<form class="form-inline" action="/main/school">
   <label class="mr-sm-2" for="inlineFormCustomSelect">학교</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="school">
                  <option value="경희대학교(국제)">경희대학교(국제)</option>
                  <option value="경희대학교(서울)">경희대학교(서울)</option>
                  <option value="서울과기대">서울과기대</option>
                </select>
    <label class="mr-sm-2" for="inlineFormCustomSelect">셩별</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="gender">
                <option value="남자">남자</option>
                <option value="여자">여자</option>
                </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if @select.present? %>
    <% @select.each do |select| %>
        <%= @user.where(:id => select.user_id).take.name %>
        <%= @user.where(:id => select.user_id).take.gender %>
        <%= select.aa %>
        <%= select.school_name %>
        <%= select.created_at.strftime("%Y-%m-%d") %>
    <% end %>
<% else %>
    <p> 검색 결과가 없습니다.</p>
<% end %>

  
</div>