  <!--form-input에 대한 css설정 안함-->
  
  <div class="offset-4 col-4">
    <h2>회원가입</h2>
          <br>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="form-input">
              <%= f.label :가입메일 %>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "likelion@likelion"%>
            </div>
             
            <div class="form-input">
              <%= f.label :이름 %>
              <%= f. text_field :name, autofocus: true, class: "form-control" %>
            </div>
            
            <div class="form-input mt-2">
              <%= f.label :성별 %>
              <%= f.select(:gender, ['남자', '여자'],  { :class => 'form-control' }) %>
              <!-- 기본 선택하는 부분 {include_blank: "Select something"},-->
              
            </div>
           <!--성별은 나중에 체크박스로 바꿀거임-->
           
            <div class="form-input">
              (<%= @minimum_password_length %>글자 이상!) <%= f.label :비밀번호 %>
              <% if @minimum_password_length %>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
                            
            <div class="form-input">
              <%= f.label :비밀번호_확인 %>
              <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
            </div>
                        
          
            <button type="submit" class="btn btn-primary mt-3">회원 가입</button>
          <% end %>
          
          <%= render "devise/shared/links" %>
          </div>
    </div>
</div>