<haed>

  <script>

  
  </script>


  <link href="assets/mypage.scss" rel="stylesheet">
</haed>

<div class="container allbox mt-5">
  <div class="top-box">
      <div class="box" >
        <h2><%= current_user.name %></h2>
        <p><%= @u_info.where(:user_id => current_user.id).take.age %>년생</p>
        <p><%= @u_info.where(:user_id => current_user.id).take.school_name %></p>
        <button type="submit" class="btn btn-primary" onclick="location.href='/mypage/core_update' ">수정하기</button>
      </div>
      
      <!--여기가 프로필사진나오는 부분-->
      <div class="box">
          <div class="card" style="margin:0 auto;">
              <img class="card-img-top" src="<%= current_user.image %>" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title"><%= current_user.name %></h4>
                <p class="card-text">뭐넣지?</p>
                <%= form_tag mypage_profile_path, method: 'post', multipart: true, :class => "input_image" do %>
                   <%= file_field_tag 'image' %>
                   <%= submit_tag '업로드 하기', :class => "btn btn-primary" %>
                <% end %>
              </div>
          </div>
      </div>
      
      <div class="box">
        <% if @u_info.where(:user_id => current_user.id).take.one_time == nil %>
                <button type="submit" class="btn btn-primary" onclick="location.href='/mypage/type_index'">입력하러 가기</button>
               
                
              <% else %>
                
                    <h2><%= @u_info.where(:user_id => current_user.id).take.aa %>형</h2>
                    <button type="submit" class="btn btn-primary" onclick="location.href='/mypage/type_edit'">수정하기</button>
                
              <% end %>
        
      </div>
  </div>
  
  \
  <h2 class="col-sm-6 ">쪽지함</h2><br><br>
  <hr class="linee">
  
  
        
</div>

<script>
    // /*$(function () {
    //   $('#myTab a:last').tab('show');
      
    // });
  
    // $('#comments-link').on('click', function(e) {
    //     e.preventDefault();
        
      
    //     $('#first').remove();
    //     $('#haveroom').load('test.html').hide().fadeIn('slow');
    //   });*/

</script>