

            <!--<form id="come" style="display: hidden">
                <div class="custom-controls-stacked">
                  <label class="custom-control custom-radio">
                    <input id="radioStacked1" name="a" type="radio" class="custom-control-input" value='집순이'>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">나는 집순이다.</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="radioStacked2" name="a" type="radio" class="custom-control-input" value='역마살이'>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">나는 싸돌아 다닌다.</span>
                  </label>
                </div>
                <button id="test">클릭</button>
            </form>  -->
      <%= form_tag '/mypage/create', :remote => true, :id => 'come' do %>    
          <%= radio_button_tag(:a, "집순이") %>
          <%= label_tag(:radio1, "나는 집순이다") %>
          <%= radio_button_tag(:a, "역마살이") %>
          <%= label_tag(:radio2, "나는 싸돌아 다닌다") %>
          
          <p class="button"><%= submit_tag "  Create  ", :id => 'test' %></p>
      <% end %>    
          
